<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>グループ名</th>
      <th>紹介文</th>
      <th colspan="3">メンバー</th>
    </tr>
  </thead>
  <tbody>
    <% groups.each do |group| %>
      <tr>
        <td>
          <%= link_to group_path(group.id) do %>
            <%= image_tag group.get_group_image(80,80) %>
          <% end %>
        </td>
        <td>
          <%= link_to group_path(group.id) do %>
            <%= group.name %>
          <% end %>
        </td>
        <td><%= group.introduction %></td>
        <td><%= group.group_users.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
