<table class='table'>
  <tr><%= image_tag user.get_profile_image(100,100) %></tr>
  <tr>
	  <th>name</th>
	  <td><%= user.name %></td>
  </tr>
  <tr>
	  <th>introduction</th>
	  <td><%= user.introduction %></td>
  </tr>
  <tr>
    <th>follows</th>
    <td><%= link_to user.followings.count, user_followings_path(user) %></td>
  </tr>
  <tr>
    <th>followers</th>
    <td><%= link_to user.followers.count, user_followers_path(user) %></td>
  </tr>
</table>

<div class='row my-3'>
  <div class='w-50'>
    <% if current_user != user %>
      <%= render "relationships/btn", user: user %>
    <% end %>
  </div>
  <% if request.path == "/users/#{user.id}" %>
    <div class="w-50">
      <% unless user.id == current_user.id %>
        <% if (current_user.followed_by? user) && (user.followed_by? current_user)  %>
          <% if @isRoom == true %>
            <div class="user-show-room">
              <%= link_to "チャットを始める", room_path(@room.id), class: "btn btn-primary" %>
            </div>
          <% else %>
            <%= form_for @room do |f| %>
              <%= fields_for @entry do |e| %>
                <%= e.hidden_field :user_id, value: user.id %>
              <% end %>
              <div><%= f.submit "チャットを始める", class:"btn btn-primary"%></div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
<div class='w-full'>
  <% if user.name != "guestuser" %>
    <div class='row'>
      <%= link_to '',edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
    </div>
  <% end %>
</div>
